<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a class=" navbar-logo" href="https://documentation.suse.com/" aria-label="SUSE Documentation Home"><img class="logo"
            src="{{uiRootPath}}/img/logo.svg" alt="SUSE logo"/></a>
      </div>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <label class="visual-search-label" for="search-input">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input label="Search" aria-label="Search" id="search-input" type="text" placeholder="Search the docs" {{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">
            <img src="{{uiRootPath}}/img/resources.png" class="langIcon Resurces" alt="Resources" title="Resources">
          </div>
          <div class="navbar-dropdown">
            {{#with page.origin}}
            <a class="navbar-item" href="{{./webUrl}}"><i class="fab fa-github"></i>&nbsp;{{@root.page.origin.descriptor.title}}</a>
            <div class="has-submenu">
              <a class="navbar-item" href="#" ><i class="fas fa-file-alt"></i>&nbsp;Report Issue &nbsp;<i class="fas fa-chevron-right"></i></a>
              <div class="submenu">
                <a class="navbar-item" href="https://scc.suse.com">SCC (Recommended)</a>
                <a class="navbar-item" href="{{./webUrl}}/issues">GitHub Issue</a>
              </div>
            </div>
            <a class="navbar-item" href="https://github.com/uyuni-project/uyuni-docs?tab=readme-ov-file#introduction"><i class="fas fa-user-edit"></i>&nbsp;Contribute</a>
            {{/with}}
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link"><img src="{{uiRootPath}}/img/language.png" class="langIcon Language" alt="Language"
              title="Language"></div>
          <div class="navbar-dropdown">
            <!--  </div><div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
            {{#each (languagelist page.navigation uiRootPath)}}
              <a role="button" class="navbar-item" id="{{./id}}" onclick="selectLanguage(this.id)">
                <!--<img src="{{./uiRootPath}}/img/{{./image}}" class="langIcon {{./class}}">-->
                &nbsp;{{./label}}
              </a>
            {{/each}}
            <!-- LANGUAGESELECTOR -->
          </div>
        </div>
        <!--
        <div class="navbar-item">
          <a href="https://twitter.com/SUSE">
            <img alt="X-logo" class="x-logo" src="{{uiRootPath}}/img/x-logo-white.png">
          </a>
        </div>
        -->
      </div>
    </div>

    <!--   <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">

        </div>
        <div class="navbar-item">
          <span class="control">
          </span>
        </div>
        <div class="navbar-item">
          <span class="control">
          </span>
        </div>
        <div class="navbar-item">
          <span class="control">
          </span>
        </div>
        <div class="navbar-item">
          <span class="control">
          </span>
        </div>
      </div> -->
    </div>
  </nav>
</header>
