{{#if page.attributes.revdate}}
<meta http-equiv="last-modified" content="{{page.attributes.revdate}}"/>
{{/if}}
<link rel="stylesheet" href="{{uiRootPath}}/css/search.css">
<link rel="icon" href="{{uiRootPath}}/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="{{uiRootPath}}/css/font-styles.css">
<link rel="stylesheet" href="{{uiRootPath}}/fonts/css/all.css">
<link rel="stylesheet" href="{{uiRootPath}}/css/site-extra.css">
<link rel="stylesheet" href="{{{uiRootPath}}}/css/vendor/tabs.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{uiRootPath}}/css/vendor/light.css">
<!-- <a class="survey-link" href="https://suselinux.fra1.qualtrics.com/jfe/form/SV_bEiGZbUNzLD8Tcy"> Documentation survey
</a> -->
<script src="/docserv/res/lightheaded/analytics.js" type="text/javascript"></script>

<!-- SUVA - Begin Ask Geeko-->
<!--
searchUnifyChatbot ("Ask Geeko") Copyright ©2024 Grazitti Interactive - All Rights Reserved. NOTICE: All information contained herein is, and remains the property of Grazitti Interactive and its suppliers, if any. The intellectual and technical concepts contained herein are proprietary to Grazitti Interactive and its suppliers and may be covered by India, U.S. and Foreign Patents, patents in process, and are protected by trade secret or copyright law. Dissemination of this information or reproduction of this material is strictly forbidden unless prior written permission is obtained from Grazitti Interactive.
-->
<meta content="width=device-width, initial-scale=1.0, user-scalable=yes" name="viewport"/>
<script type="text/javascript" src="https://suse.searchunify.com/suva-resources/suva_clients_custom/c485cb3c-93d4-4942-99e8-91f3b8ca5636/Allow/an.js?c485cb3c-93d4-4942-99e8-91f3b8ca5636"></script>
<script type="text/javascript" src="https://suse.searchunify.com/suva-resources/suva_clients_custom/c485cb3c-93d4-4942-99e8-91f3b8ca5636/js/index.js?q=gAAAAABp3JBN9VuEJTi5tFafLIMwgMkCPdJS3Qm56lSYx93ir3Twt9hgSvd3OHEt6-nYfSbY3yHq0Zv8PRPsSy4nbqZiaJ4cZvRc6ItVZdvwz9Urf35cH6OUyPOwdA0phlS-zVIznQ2rWW438p-91NlTHuxJuOFpnA=="></script>
<link rel="stylesheet" href="https://suse.searchunify.com/suva-resources/suva_clients_custom/c485cb3c-93d4-4942-99e8-91f3b8ca5636/css/index.css">
<div id="searchUnifyChatbot"></div>
<!-- SUVA - End Ask Geeko-->

<script type="module">
  import { defineCustomElements, setAssetPath } from 'https://d12w0ryu9hjsx8.cloudfront.net/shared-header/1.10/shared-header.esm.js';
  defineCustomElements();
  setAssetPath("https://d12w0ryu9hjsx8.cloudfront.net/shared-header/1.10/assets");
</script>

<link href="https://documentation.suse.com/multi-linux-manager/5.1/en{{page.url}}" rel="canonical"/>
<link href="https://documentation.suse.com/multi-linux-manager/5.1/en{{page.url}}" hreflang="x-default" rel="alternate"/>
<link href="https://documentation.suse.com/multi-linux-manager/5.1/en{{page.url}}" hreflang="en-US" rel="alternate" />
<link href="https://documentation.suse.com/multi-linux-manager/5.1/ko{{page.url}}" hreflang="ko-kr"
    rel="alternate" />
<link href="https://documentation.suse.com/multi-linux-manager/5.1/ja{{page.url}}" hreflang="ja-JP"
    rel="alternate" />
<link href="https://documentation.suse.com/multi-linux-manager/5.1/zh_CN{{page.url}}" hreflang="zh-CN"
    rel="alternate" />
<shared-header page-title="Pattern Library" logo-src="https://www.suse.com/assets/img/suse-white-logo-green.svg"
            language="en" user="the name" log-in-url="#" log-out-url="#" log-out-method="DELETE" create-account-url="#"
            forgot-password-url="#" account-settings-url="#" change-password-url="#" user-management-url="#"
            language="en" languages='{
                "en": { "label": "English", "url": "https://documentation.suse.com/en-us/" },
                "de": { "label": "Deutsch", "url": "https://documentation.suse.com/de-de/" },
                "fr": { "label": "Français", "url": "https://documentation.suse.com/fr-fr/" },
                "es": { "label": "Español", "url": "https://documentation.suse.com/es-es/" },
                "zh_CN": { "label": "中文", "url": "https://documentation.suse.com/zh-cn/" },
                "pt_BR": { "label": "Português Brasileiro", "url": "https://documentation.suse.com/pt-br/" }
            }'>
 </shared-header>

<!-- JSON-LD for doc metadata -->
{{#if page.description}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "TechArticle",

  "headline": "{{page.title}}",
  "description": "{{page.description}}",
  "inLanguage": "LANG_PLACEHOLDER",

  "dateModified": "{{page.attributes.revdate}}",

  "image": "{{page.attributes.image}}",

  "author": {
    "@type": "Organization",
    "name": "{{page.attributes.author}}"
  },

  "mentions": [
    {
      "@type": "SoftwareApplication",
      "name": "{{page.attributes.product-name}}",
      "softwareVersion": "{{page.attributes.product-version}}",
      "applicationCategory": "Operating System",
      "operatingSystem": "Linux"
    }
  ],

  "publisher": {
    "@type": "Organization",
    "name": "SUSE",
    "url": "https://documentation.suse.com",
    "logo": {
      "@type": "ImageObject",
      "url": "https://www.suse.com/assets/img/suse-white-logo-green.svg"
    }
  }
}
</script>
{{/if}}
