{{#if page.attributes.revdate}}
<meta http-equiv="last-modified" content="{{page.attributes.revdate}}"/>
{{/if}}
<link rel="stylesheet" href="{{uiRootPath}}/css/search.css">
<link rel="icon" href="{{uiRootPath}}/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="{{uiRootPath}}/css/font-styles.css">
<link rel="stylesheet" href="{{uiRootPath}}/fonts/css/all.css">
<link rel="stylesheet" href="{{uiRootPath}}/css/site-extra.css">
<link rel="stylesheet" href="{{{uiRootPath}}}/css/vendor/tabs.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{uiRootPath}}/css/vendor/light.css">
<!-- <a class="survey-link" href="https://suselinux.fra1.qualtrics.com/jfe/form/SV_bEiGZbUNzLD8Tcy"> Documentation survey
</a> -->
<script src="/docserv/res/lightheaded/analytics.js" type="text/javascript"></script>

<script type="module">
  import { defineCustomElements, setAssetPath } from 'https://d12w0ryu9hjsx8.cloudfront.net/shared-header/1.9/shared-header.esm.js';
  defineCustomElements();
  setAssetPath("https://d12w0ryu9hjsx8.cloudfront.net/shared-header/1.9/assets");
</script>

<link href="https://documentation.suse.com/multi-linux-manager/5.1/en{{page.url}}" rel="canonical"/>
<link href="https://documentation.suse.com/multi-linux-manager/5.1/en{{page.url}}" hreflang="x-default" rel="alternate"/>
<link href="https://documentation.suse.com/multi-linux-manager/5.1/en{{page.url}}" hreflang="en-US" rel="alternate" />
<link href="https://documentation.suse.com/multi-linux-manager/5.1/ko{{page.url}}" hreflang="ko-kr"
    rel="alternate" />
<link href="https://documentation.suse.com/multi-linux-manager/5.1/ja{{page.url}}" hreflang="ja-JP"
    rel="alternate" />
<link href="https://documentation.suse.com/multi-linux-manager/5.1/zh_CN{{page.url}}" hreflang="zh-CN"
    rel="alternate" />
<shared-header page-title="Pattern Library" logo-src="https://www.suse.com/assets/img/suse-white-logo-green.svg"
            language="en" user="the name" log-in-url="#" log-out-url="#" log-out-method="DELETE" create-account-url="#"
            forgot-password-url="#" account-settings-url="#" change-password-url="#" user-management-url="#"
            language="en" languages='{
                "en": { "label": "English", "url": "https://documentation.suse.com/en-us/" },
                "de": { "label": "Deutsch", "url": "https://documentation.suse.com/de-de/" },
                "fr": { "label": "Français", "url": "https://documentation.suse.com/fr-fr/" },
                "es": { "label": "Español", "url": "https://documentation.suse.com/es-es/" },
                "zh_CN": { "label": "中文", "url": "https://documentation.suse.com/zh-cn/" },
                "pt_BR": { "label": "Português Brasileiro", "url": "https://documentation.suse.com/pt-br/" }
            }'>
 </shared-header>
</head>