<div class="cedents grid" role="navigation">

  {{#if page.previous}}
  <div class="prev">
      <a href="
  {{~#if (eq page.previous.urlType 'internal')}}{{{relativize @root.page.url page.previous.url}}}
      {{~else}}{{{page.previous.url}}}
      {{~/if}}" title="{{{page.previous.content}}}">
        <div class="change-page">
          <div class="arrow-prev"><i class="fas fa-arrow-left"></i></div>
        <span class="label">Previous</span>
        <br/>
        <!-- <span class="label title"><strong>:</strong></span> -->
        <span class="title">{{{page.previous.content}}}</span>
        </div>
      </a>
    {{/if}}
  </div>

  {{#if page.next}}
  <div class="next">
      <a href="
  {{~#if (eq page.next.urlType 'internal')}}{{{relativize @root.page.url page.next.url}}}
      {{~else}}{{{page.next.url}}}
      {{~/if}}" title="{{{page.next.content}}}">
        <div class="change-page">
          <div class="arrow-next"><i class="fas fa-arrow-right"></i></div>
        <span class="label">Next</span>
        <br/>
       <!-- <span class="label title"><strong>:</strong></span> -->
        <span class="title">{{{page.next.content}}}</span>
        </div>
      </a>
    {{/if}}
  </div>
</div>
