<nav class="breadcrumbs" aria-label="breadcrumbs">
  {{#if page.breadcrumbs}}
  <ul>
    {{!-- Look up book title directly from YAML map --}}
    {{#if (lookup site.asciidoc.attributes.book_titles page.module.name)}}
      <li>
        <a href="{{{relativize page.componentVersion.url}}}">
          {{lookup site.asciidoc.attributes.book_titles page.module.name}}
        </a>
      </li>
    {{/if}}

    {{!-- Remaining breadcrumbs --}}
    {{#each page.breadcrumbs}}
    <li>
      {{#if (and url (eq urlType 'internal'))}}
        <a href="{{{relativize url}}}">{{{content}}}</a>
      {{else}}
        {{{content}}}
      {{/if}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
</nav>
